#left_column.left_column
  =link_to('Modificar', modificar_tfgs_path, :remote => true, :class => 'opt_col')
  =link_to('Dar de Alta', alta_tfgs_path, :remote => true, :class => 'opt_col')

#right_column_for_tfgs.right_column