.full_container
  .window
    / = render :partial => 'application/header_window'

    .icon
      .fa.fa-anchor
      %i.fa.fa-rub
      .title="Alumnos"

    .icon
      %i.icono_en_cuestion
      .title="Profesores"

    .icon
      %i.icono_en_cuestion
      .title="Trabajos Fin de Grado"

    .icon
      %i.icono_en_cuestion
      .title="Tribunales"

    .icon
      %i.icono_en_cuestion
      .title="Grupos de Investigación"

    .icon
      %i.icono_en_cuestion
      .title="Listados"
