#left_column.left_column
  =link_to('Modificar', modificar_alumnos_path, :remote => true, :class => 'opt_col')
  =link_to('Dar de Alta', alta_alumnos_path, :remote => true, :class => 'opt_col')

#right_column_for_alumnos.right_column