#left_column.left_column
  =link_to('Modificar', modificar_grupos_path, :remote => true, :class => 'opt_col')
  =link_to('Dar de Alta', alta_grupos_path, :remote => true, :class => 'opt_col')

#right_column_for_grupos.right_column