%div{:style => 'padding: 0px 10px;'}
  %h2="Ayuda"
  %p="Para navegar pos los menú debes hacer doble click sobre cara fichero y este se abrirá"
  %p="En cada fichero se encuentra un programa que permite dar de alta, modificar o borrar un Modelo de datos determinado"
  %p="El último menú muestra listados"
  %h4="Desarrolladores"
  %p="Práctica realizada por Daniel Martin y Sergio Canis para la asignatura de Desarrollo Web de la Universidad de Alcalá de Henares"