%div{:style => 'padding: 0px 10px;'}
  %h2="Ayuda"
  %p="Para navegar por los menú debes hacer doble click sobre cara fichero y este se abrirá. Las ventanas tiene la propiedad Drag&Drop"
  %p="En cada fichero se encuentra un programa que permite dar de alta, modificar o borrar un Modelo de Datos determinado. El último menú muestra listados"
  %p="El tema visual se trata de un homenaje al entorno Windows 3.1"
  %b="Desarrolladores"
  %p="Práctica realizada por Daniel Martin y Sergio Canis para la asignatura de Desarrollo Web"
  %div{:style => 'padding-top: 20px; text-align: right'}="Universidad de Acalá de Henares 2013/2014"