.header_window
  .bar
    .title_for_window= title
    - if defined?(close)
      .x_for_window="X"
      :javascript
        $('.x_for_window').click(function () {
          $('.x_for_window').parent().parent().parent().parent().remove();
        })