#left_column.left_column
  =link_to('Listado 1', listado_1_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 2', listado_2_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 3', listado_3_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 4', listado_4_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 5', listado_5_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 6', listado_6_path, :remote => true, :class => 'opt_col')
  =link_to('Listado 7', listado_7_path, :remote => true, :class => 'opt_col')


#right_column_for_listados.right_column

  %ul
    %li="Listado de Todos los modelos"
    %li="Listado de Profesores con los TFG que dirige cada uno"
    %li="Alumnos que pertecence a un grupo determinado"
    %li="Listado de los tribunales y los profesores que estan dentro"
    %li="Alumnos con su TFG"
    %li="Listado de los tribunales y a que TFG califican"
    %li="Listado de los temas del TFG"
    