#right_column_for_listados.right_column
  %h2="Alumnos con su TFG"

  %table.table_fow_window_in_holder
    %tr
      %th="Nombre"
      %th="Trabajo Fin de Grado"
    -for alumno in Alumno.all
      %tr
        %td="#{alumno.nombre} #{alumno.apellidos}"
        %td="#{ !alumno.tfg.blank? ? alumno.tfg.tema : '-'}"